.home-container {
    background: #f9f9f9;
    display: flex;
    flex: 1;
    padding-left: calc(15% + 20px);
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.large-container {
    padding-left: 85px;
}

@media (max-width: 900px) {
    .home-container, .large-container {
        padding-left: 20px;
    }
}